@model JV_PuntoVenta.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<div class="m-3">
    <h1>DETALLE DE VENTA</h1>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div class="mx-2">
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VentaProductos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="mx-2">
    <a asp-action="Index">Volver</a>
</div>
